parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method getListTablesSQL\(\) of class Doctrine\\DBAL\\Platforms\\AbstractPlatform\:
				The SQL used for schema introspection is an implementation detail and should not be relied upon\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/DumpProcess.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/DumpProcess.php

		-
			message: '#^Method Worksome\\Foggy\\Dumper\:\:getColumnsForTable\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Dumper.php

		-
			message: '#^Method Worksome\\Foggy\\Dumper\:\:insertValuesStatement\(\) has parameter \$table with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Dumper.php

		-
			message: '#^Method Worksome\\Foggy\\Dumper\:\:rowLengthEstimate\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Dumper.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Dumper.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/FoggyApplication.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/FoggyCommand.php

		-
			message: '#^Method Worksome\\Foggy\\Rules\\ConditionValidator\:\:passes\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/ConditionValidator.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Rules/ConditionValidator.php

		-
			message: '#^Method Worksome\\Foggy\\Rules\\FakerRule\:\:handle\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/FakerRule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Rules/FakerRule.php

		-
			message: '#^Method Worksome\\Foggy\\Rules\\PhpRule\:\:handle\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/PhpRule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Rules/PhpRule.php

		-
			message: '#^Method Worksome\\Foggy\\Rules\\ReplaceRule\:\:handle\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/ReplaceRule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Rules/ReplaceRule.php

		-
			message: '#^Method Worksome\\Foggy\\Rules\\Rule\:\:handle\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/Rule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Rules/Rule.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Settings/Database.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Settings/Database.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Rule\:\:getParameters\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Rule.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Rule\:\:processRow\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Rule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Settings/Rule.php

		-
			message: '#^PHPDoc tag @return with type string\|Worksome\\Foggy\\Rules\\Rule is not subtype of native type string\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Settings/Rule.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Settings/Settings.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Table\:\:findRules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Table\:\:getRules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Table\:\:getRulesWithPassedCondition\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Table\:\:getStringForInsertStatement\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^Method Worksome\\Foggy\\Settings\\Table\:\:getStringForInsertStatement\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Settings/Table.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Settings/View.php
