includes:
    - ./vendor/worksome/coding-style/phpstan.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    parallel:
            processTimeout: 300.0
